/* ============================================
   Bitcointalk.org Clone
   Based on actual SMF custom1 theme CSS
   Using real theme images
   ============================================ */

/* Normal, standard links */
a:link, a:visited {
  color: #476C8E;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Tables should show empty cells */
table {
  empty-cells: show;
}

/* Default font */
body, td, th, tr {
  color: #000000;
  font-size: 13px;
  font-family: verdana, sans-serif;
}

/* Main body */
body {
  background-color: #E5E5E8;
  margin: 0px;
  padding: 12px 30px 4px 30px;
  font: 13px verdana, helvetica, sans-serif;
}

/* Input boxes */
input, textarea, button {
  color: #000000;
  font-family: verdana, sans-serif;
}
input, button {
  font-size: 90%;
}
textarea {
  font-size: 100%;
  color: #000000;
  font-family: verdana, sans-serif;
}
select {
  font-size: 90%;
  font-weight: normal;
  color: #000000;
  font-family: verdana, sans-serif;
}

/* Horizontal rule */
hr, .hrcolor {
  height: 1px;
  border: 0;
  color: #666666;
  background-color: #666666;
}

/* No image border when linked */
a img {
  border: 0;
}

/* Quote block */
.quote {
  color: #000000;
  background-color: #f1f2f4;
  border: 1px solid #d0d0e0;
  padding: 5px;
  margin: 1px 3px 6px 6px;
  font-size: 11px;
  line-height: 1.4em;
}

/* Code block */
.code {
  color: #000000;
  background-color: #fff;
  font-family: "courier new", "times new roman", monospace;
  font-size: 12px;
  line-height: 1.3em;
  border: 1px solid #000000;
  padding: 5px;
  margin: 1px 3px 4px 6px;
  width: 93%;
  white-space: nowrap;
  overflow: auto;
  max-height: 24em;
}

code {
  font-family: "courier new", monospace;
  font-size: 12px;
}

/* Quote/code headers */
.quoteheader, .codeheader {
  color: #476C8E;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2em;
  margin-left: 6px;
}

/* Alternating backgrounds */
.windowbg, #preview_body {
  color: #000000;
  background-color: #ECEDF3;
}
.windowbg2 {
  color: #000000;
  background-color: #F6F6F6;
}
.windowbg3 {
  color: #000000;
  background-color: #E0E1E8;
}

/* ===== TITLE BARS (lighter blue, used for column headers and post headers) ===== */
.titlebg, tr.titlebg th, tr.titlebg td {
  color: black;
  font-style: normal;
  background: url(/images/titlebg.jpg) #E9F0F6 repeat-x;
  border-bottom: solid 1px #9BAEBF;
  border-top: solid 1px #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
}
.titlebg, .titlebg a:link, .titlebg a:visited {
  font-weight: bold;
  color: black;
  font-style: normal;
}
.titlebg a:hover {
  color: #404040;
}

/* ===== CATEGORY BARS (darker blue, used for section headers) ===== */
.catbg, tr.catbg td, .catbg3, tr.catbg3 td {
  background: url(/images/catbg.jpg) #88A6C0 repeat-x;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.catbg2, tr.catbg2 td {
  background: url(/images/catbg2.jpg) #A1BFD9 repeat-x;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.catbg, .catbg2, .catbg3 {
  border-bottom: solid 1px #375576;
}
.catbg, .catbg2 {
  font-weight: bold;
}
.catbg a:link, .catbg a:visited, .catbg2 a:link, .catbg2 a:visited {
  color: white;
  text-decoration: none;
}
.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover {
  color: #e0e0ff;
}

/* ===== TABLE BORDERS ===== */
.bordercolor {
  background-color: #ADADAD;
  padding: 0px;
}
.tborder {
  padding: 1px;
  border: 1px solid #696969;
  background-color: #FFFFFF;
}

/* ===== TEXT SIZES ===== */
.smalltext {
  font-size: 11px;
  font-family: verdana, sans-serif;
}
.middletext {
  font-size: 90%;
}
.normaltext {
  font-size: small;
}
.largetext {
  font-size: large;
}

/* ===== NAVIGATION TABS (using actual images) ===== */
.maintab_first, .maintab_back, .maintab_last,
.maintab_active_first, .maintab_active_back, .maintab_active_last {
  color: white;
  vertical-align: top;
}
.maintab_back, .maintab_active_back {
  color: white;
  text-decoration: none;
  font-size: 9px;
  vertical-align: top;
  padding: 2px 6px 6px 6px;
  font-family: tahoma, sans-serif;
}
.maintab_first {
  background: url(/images/maintab_first.gif) left bottom no-repeat;
  width: 10px;
}
.maintab_back {
  background: url(/images/maintab_back.gif) left bottom repeat-x;
}
.maintab_last {
  background: url(/images/maintab_last.gif) left bottom no-repeat;
  width: 8px;
}
.maintab_active_first {
  background: url(/images/maintab_active_first.gif) left bottom no-repeat;
  width: 6px;
}
.maintab_active_back {
  background: url(/images/maintab_active_back.gif) left bottom repeat-x;
}
.maintab_active_last {
  background: url(/images/maintab_active_last.gif) left bottom no-repeat;
  width: 8px;
}
.maintab_back a:link, .maintab_back a:visited,
.maintab_active_back a:link, .maintab_active_back a:visited {
  color: white;
  text-decoration: none;
}
.maintab_back a:hover, .maintab_active_back a:hover {
  color: #e0e0ff;
  text-decoration: none;
}

/* ===== NAV / BREADCRUMB ===== */
.nav, .nav:link, .nav:visited {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
}
a.nav:hover {
  color: #000;
  text-decoration: underline;
}

/* ===== TITLE BAR 2 (lighter blue, same bg as titlebg but not bold) ===== */
.titlebg2, tr.titlebg2 th, tr.titlebg2 td {
  color: black;
  font-style: normal;
  background: url(/images/titlebg.jpg) #E9F0F6 repeat-x;
  border-bottom: solid 1px #9BAEBF;
  border-top: solid 1px #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
}
.titlebg2 a:link, .titlebg2 a:visited {
  color: black;
  font-style: normal;
  text-decoration: underline;
}
.titlebg2 a:hover {
  text-decoration: underline;
}

/* ===== HEADER ===== */
#header_area {
  padding-bottom: 2px;
}

/* ===== BOARD TABLE (topic listing) ===== */
table.board_table {
  width: 100%;
  border-collapse: collapse;
}
table.board_table th {
  background: url(/images/catbg.jpg) #88A6C0 repeat-x;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 11px;
  padding: 4px 10px;
  border-bottom: solid 1px #375576;
  text-align: left;
}
table.board_table td {
  padding: 5px 8px;
  font-size: 11px;
  vertical-align: top;
}
table.board_table .subject_col a {
  color: #476C8E;
  font-weight: bold;
  font-size: 12px;
}

/* ===== POST TABLE (thread view) ===== */
table.post_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3px;
}
table.post_table td.post_header {
  background: url(/images/titlebg.jpg) #E9F0F6 repeat-x;
  border-bottom: solid 1px #9BAEBF;
  border-top: solid 1px #FFFFFF;
  padding: 3px 10px;
  font-size: 11px;
  color: #333;
  font-weight: bold;
}
table.post_table td.post_author {
  width: 160px;
  background-color: #ECEDF3;
  padding: 6px 8px;
  vertical-align: top;
  font-size: 11px;
  border-right: 1px solid #ADADAD;
}
table.post_table td.post_author.alt {
  background-color: #F6F6F6;
}
table.post_table td.post_body {
  background-color: #ECEDF3;
  padding: 6px 12px;
  vertical-align: top;
  font-size: 13px;
  line-height: 1.5;
}
table.post_table td.post_body.alt {
  background-color: #F6F6F6;
}

.poster_name {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
}
.poster_name a {
  color: #476C8E;
}
.poster_rank {
  font-size: 10px;
  color: #444;
  margin-bottom: 4px;
}
.poster_info {
  font-size: 10px;
  color: #666;
  line-height: 1.6;
}
.poster_avatar {
  width: 80px;
  height: 80px;
  margin: 6px 0;
  border: 1px solid #ADADAD;
  background: #fff;
}
.poster_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== COIN STATS (first post) ===== */
.coin_stats {
  background: #F6F6F6;
  border: 1px solid #ADADAD;
  padding: 6px;
  margin: 8px 0;
}
.coin_stats table {
  width: 100%;
  border-collapse: collapse;
}
.coin_stats td {
  padding: 3px 8px;
  font-size: 11px;
}
.coin_stats .stat_label {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  font-size: 10px;
  width: 90px;
}
.coin_stats .stat_value {
  font-weight: bold;
  color: #000;
  font-size: 13px;
}

/* ===== FORM SECTION ===== */
.form_section {
  margin-bottom: 8px;
}
.form_section .section_title {
  background: url(/images/catbg.jpg) #88A6C0 repeat-x;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  border-bottom: solid 1px #375576;
}
.form_section .form_inner {
  background: #ECEDF3;
  border: 1px solid #ADADAD;
  border-top: none;
  padding: 10px 12px;
}
.form_row {
  margin-bottom: 8px;
}
.form_row label {
  display: block;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 3px;
}
.form_row input[type="text"],
.form_row input[type="file"],
.form_row textarea {
  border: 1px solid #ADADAD;
  padding: 3px 5px;
  font-family: verdana, sans-serif;
  font-size: 13px;
  width: 100%;
  max-width: 500px;
  background: #FFF;
}
.form_row textarea {
  min-height: 100px;
  resize: vertical;
}

/* SMF buttons */
.button_submit {
  border: 1px solid #888;
  padding: 4px 16px;
  font-family: verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.button_submit:hover {
  background: #E8ECF0;
}
.button_submit:disabled {
  color: #888;
  cursor: not-allowed;
}

/* ===== PAGINATION ===== */
.pagesection {
  padding: 3px 0;
  font-size: 11px;
}

/* ===== FOOTER ===== */
#footer {
  text-align: center;
  padding: 10px;
  font-size: 11px;
  color: #555;
  margin-top: 6px;
}
#footer a {
  color: #476C8E;
}

/* ===== STATUS MESSAGES ===== */
.status-msg {
  padding: 5px 10px;
  margin: 6px 0;
  font-size: 12px;
  border: 1px solid;
}
.status-msg.success {
  background: #E8F0E8;
  color: #000;
  border-color: #88A688;
}
.status-msg.error {
  background: #F0E8E8;
  color: red;
  border-color: #A68888;
}
.status-msg.info {
  background: #E9F0F6;
  color: #000;
  border-color: #9BAEBF;
}

/* ===== SPINNER ===== */
.spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #ADADAD;
  border-top-color: #88A6C0;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-left: 6px;
  vertical-align: middle;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  body {
    padding: 4px 8px;
  }
  table.post_table td.post_author {
    width: 100px;
  }
}
